<div class = 'subsection'>
    <h3>{{title}}</h3>
    <div class = 'subsection-actions'>
        <a href="{{baseUrl}}/groups/{{id}}">View Group Data</a>
        <a href="{{baseUrl}}/stats/?group={{id}}">View Group Stats</a>
    </div>
    {{description}}
</div>
